.region-card {
    cursor: pointer;
    transition: 0.3s;

    width: 8em;
    height: 10em;
    margin-right: 0.5em;

    border-radius: 5%;
}

/* Freljord Card */
#freljord-card {
    background: #b4cffa;
    background: url('../assets/images/freljord_bg.jpg');
    background-size: cover;
    background-position: 15em;
}

#freljord-card:hover {
    transform: translateY(-3%);
    box-shadow: 0 0 0.2em #b4cffa;
}

/* Noxus Card */
#noxus-card {
    background: #3D0000;
    background: url('../assets/images/noxus_bg.jpg');
    background-size: cover;
    background-position: 20em;
}

#noxus-card:hover {
    transform: translateY(-3%);
    box-shadow: 0 0em 0.2em rgb(255, 255, 213)
}
