.region-card {
    position: relative;

    cursor: pointer;
    transition: 0.3s;

    width: 6em;
    height: 8em;
    margin-right: 0.5em;

    font-size: 1.35rem;
    border-radius: 1em;
}

.region-card div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 25%;

    bottom: 0;

    border-radius: 0 0 1em 1em;
    background-color: rgba(0, 0, 0, 0.55);
}

/* Freljord Card */
#freljord-card {
    background: #b4cffa;
    background: url('../assets/images/freljord_bg.jpg');
    background-size: cover;
    background-position: 12em;
}

#freljord-card:hover {
    transform: translateY(-3%);
}

/* Noxus Card */
#noxus-card {
    background: #3D0000;
    background: url('../assets/images/noxus_bg.jpg');
    background-size: cover;
    background-position: 10em;
}

#noxus-card:hover {
    transform: translateY(-3%);
    
}

/* Ionia Card */
#ionia-card {
    background: #ffd27f;
    background: url('../assets/images/ionia_bg.jpg');
    background-size: cover;
    background-position: 10.25em;
}

#ionia-card:hover {
    transform: translateY(-3%);
    
}

/* Demacia Card */
#demacia-card {
    background: #fffdf8;
    background: url('../assets/images/demacia_bg.jpg');
    background-size: cover;
    background-position: 9em;
}

#demacia-card:hover {
    transform: translateY(-3%);
    
}

/* Ixtal Card */
#ixtal-card {
    background: #bfaf86;
    background: url('../assets/images/ixtal_bg.jpg');
    background-size: cover;
    background-position: 9em;
}

#ixtal-card:hover {
    transform: translateY(-3%);
    
}

/* Zaun Card */
#zaun-card {
    background: #bfaf86;
    background: url('../assets/images/zaun_bg.jpg');
    background-size: cover;
    background-position: 11em;
}

#zaun-card:hover {
    transform: translateY(-3%);
    
}

/* Piltover Card */
#piltover-card {
    background: #bfaf86;
    background: url('../assets/images/piltover_bg.jpg');
    background-size: cover;
    background-position: 11em;
}

#piltover-card:hover {
    transform: translateY(-3%);
    
}

/* Targon Card */
#targon-card {
    background: #b57df5;
    background: url('../assets/images/targon_bg.jpg');
    background-size: cover;
    background-position: 14em;
}

#targon-card:hover {
    transform: translateY(-3%);
    
}

/* Shurima Card */
#shurima-card {
    background: #f3f57d;
    background: url('../assets/images/shurima_bg.jpg');
    background-size: cover;
    background-position: 10.6em;
}

#shurima-card:hover {
    transform: translateY(-3%);
    
}

/* Bilgewater Card */
#bilgewater-card {
    background: #f3f57d;
    background: url('../assets/images/bilgewater_bg.jpg');
    background-size: cover;
    background-position: 21em;
}

#bilgewater-card:hover {
    transform: translateY(-3%);
    
}

/* Bandle Card */
#bandle-card {
    background: #f3f57d;
    background: url('../assets/images/bandle_bg.png');
    background-size: cover;
    background-position: 10.3em;
}

#bandle-card:hover {
    transform: translateY(-3%);
    
}

/* Shadow Isles Card */
#shadow-isles-card {
    background: #7df5b3;
    background: url('../assets/images/shadow-isles_bg.jpg');
    background-size: cover;
    background-position: 15em;
}

#shadow-isles-card:hover {
    transform: translateY(-3%);
}

/* Void Card */
#void-card {
    background: #f57df1;
    background: url('../assets/images/void_bg.jpg');
    background-size: cover;
    background-position: 11em;
}

#void-card:hover {
    transform: translateY(-3%);
}

/* Unnafiliated Card */
#unnafiliated-card {
    background: #bfaf86;
    background: url('../assets/images/unnafiliated_bg.jpg');
    background-size: cover;
    background-position: 11em;
}

#unnafiliated-card:hover {
    transform: translateY(-3%);
    
}
